name: abbay
description: A new Flutter project.

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.18.6 <3.0.0'

dependencies:
  path: ^1.8.2
  path_provider: ^2.0.11
  filesystem_picker: ^3.1.0
  permission_handler: ^10.2.0
  flutter_bloc: ^8.1.1
  provider: ^6.0.5
  freezed: ^2.3.2
  focus_detector: ^2.0.1
  hive: ^2.2.3
  audio_service: ^0.18.9
  audio_session: ^0.1.13
  just_audio: ^0.9.31

  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  build_runner: ^2.3.3

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
